// Colors
$white:               #fff;
$yellow:              #fce473;
$pink:                #c71585;
$green:               #32cd32;
$blue:                #55d6aa;
$lightblack:          #222;
$nav-a-color:         #444;
$nav-hover-color:     #000;

$nav-color:       $blue;
$body-color:      $lightblack;

body {
  color: $white;
	margin: 0;
	background: $body-color;
	font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  a {
    color: $blue;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: $yellow;
  }
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: $nav-color;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
}

.nav_links {
  float: right;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    list-style: none;
  }
  li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    position: relative;
  }
  a {
    color: $nav-a-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  a:hover {
    color: $nav-hover-color;
  }
  a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: $nav-a-color;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  a:hover::before {
    width: 100%;
  }
}

.current {
  color: $pink;
}